:root {
  --primary-Brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-Text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  color: var(--text, #434455);
  background-color: var(--white-background);

  font-size: 16px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-logo-web,
.footer-logo-web {
  display: flex;
  width: 44px;
  flex-direction: column;
  justify-content: center;

  color: var(--primary-Brand, #4d5ae5);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  /* color: var(--dark, #2e2f42); */
}

/* .current {
  font-weight: 500;
  color: var(--dark);
} */

.header-logo-studio {
  width: 71px;
  color: var(--dark, #2e2f42);
}

.header-nav-link {
  color: var(--dark, #2e2f42);
  font-weight: 500;
}

.link:hover,
.link:focus,
.hero-button:hover {
  color: var(--pressed-state, #404bbf);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.header-addres-link {
  font-style: normal;
  color: var(--text, #434455);
}

.hero {
  background: var(--dark, #2e2f42);
}

.hero-title {
  /* display: flex;
  width: 496px;
  flex-direction: column;
  flex-shrink: 0; */
  color: var(--white-background, #fff);
  /* text-align: center; */
  font-size: 56px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  border-radius: 4px;
  background: var(--primary-Brand, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-Brand, #4d5ae5);
  cursor: pointer;
}

.main-features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
}

.main-teg-pades {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark, #2e2f42);
}

.main-team {
  text-transform: capitalize;
  background-color: var(--light, #f4f4fd);
}

.main-team-pages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
}

.main-team-photo {
  background-color: var(--white-background, #ffffff);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
}

.main-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text, #434455);
}

footer {
  background-color: var(--dark, #2e2f42);
}

.footer-logo-studio {
  color: var(--light, #f4f4fd);
}

.footer-text {
  color: var(--light, #f4f4fd);
}

.portfolio-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-Brand, #4d5ae5);
  background-color: var(--light, #f4f4fd);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-background, #ffffff);
  background-color: var(--pressed-state, #404bbf);
}

.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark ,#2e2f42);
}
